<h1>Task List</h1><br>
<%= link_to 'New Task', new_task_path %>
<% @tasks.each do |task| %>

    <h2><%= task.title %></h2>
    <h4><%= task.description %></h4>
    <%= button_to 'Edit', edit_task_path(task), method: :get %>
    <%= button_to 'Delete', task_path(task), method: :delete %>
    <hr>

<% end %>
