<h1>Task List</h1><br>
<%= link_to 'New Task', new_task_path %>
<% @tasks.each do |task| %>

    <h2><%= task.title %></h2>
    <%= task.description %>
    <%= link_to check_box_tag(:task, :complete, :completed),
            "/tasks/#{task.id}/complete/#{!task.completed}" %>
    <p>Completed? : <%= task.completed%></p>
    <%= link_to button_tag('Show'), task_path(task)%>
    <%= link_to button_tag('Edit'), edit_task_path(task)%>
    <%= link_to button_tag('Delete'), task_path(task), method: :delete %>
    <hr>

<% end %>
